/* ==UserStyle==
@name         pinterest-cnfonts
@namespace    github.com/techstay/MyScripts
@description  将Pinterest默认显示字体设置为中文
@author       techstay <lovery521@gmail.com> (https://github.com/techstay)
@homepageURL  https://github.com/techstay/MyScripts
@supportURL   https://github.com/techstay/MyScripts/issues
@updateURL    https://github.com/techstay/MyScripts/raw/main/stylus/pinterest-cnfonts.user.styl
@preprocessor stylus
@version      0.1.0
@license      MIT
==/UserStyle== */
@-moz-document url-prefix("https://www.pinterest.com/") {
  .iFc {
    font-family: '微软雅黑 Light', '微软雅黑', '思源黑体';
  }
} // www.pinterest.com/") {
