/* ==UserStyle==
@name         twitter-cnfonts
@namespace    github.com/techstay/UserScripts
@description  优化推特中文字体显示
@author       techstay <lovery521@gmail.com> (https://github.com/techstay)
@homepageURL  https://github.com/techstay/UserScripts
@supportURL   https://github.com/techstay/UserScripts/issues
@updateURL    https://github.com/techstay/UserScripts/raw/main/stylus/twitter-cnfonts.user.styl
@preprocessor stylus
@version      0.1.0
@license      MIT
==/UserStyle== */
@-moz-document url-prefix("https://twitter.com/") {
  * {
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', '思源黑体', sans-serif !important;
  }
} // twitter.com/") {
